body{
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    background-position-y: -450px;
    background-color: #000;
}

h4{
    color: #ffffff;
}

.badge{
    font-size: 100%;
}

.card-deck{
    position: relative;
    top: 210px;
}

.card{
    background: transparent;
    border: none;
    /* height: 0%; */
}

.card-footer{
    background-color: rgba(0, 0, 0, 0.41);
}

.vs{
    position: absolute;
    bottom: 60px;
    left: 70px;
}

.btn-primary{
    position: relative;
    top: 190px;
}